<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Bookers</title>
    <link rel="stylesheet" href="/app/assets/styleshhets/homes.scss" />
  </head>

  <body>
    <h1>ようこそ Bookers へ！</h1>
    <p>Bookers では、さまざまな書籍に関するあなたの意見や</p>
    <p>印象を共有し交換することができます</p>
    <a href="books">start</a>

    <ul class="list">
      <li>Bookers では、さまざまな書籍に関するあなたの意見や</li>
      <br>
      <li>印象を共有し交換することができます</li>
      <br>
      <li><a href="books">start</a></li>
    </ul>

  </body>
</html>