* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box{
  flex-direction: column;
}

.table{
  margin: 40px;
  book_title: left;
  book_body: left;
}

.title{
  height: 10px;
  margin: 30px;
}

.title_tag{
  height: 20px;
  margin: 30px;
  padding: 10px 75px;
}

.book_title{
  margin: 30px;
  padding: 2.5px 75px;
}

.book_body{
  margin: 30px;
  padding: 2.5px 150px;
}

.book_menu{
  margin: 5px;
  padding: 2.5px 5px;
}

.errors{
  margin: 5px;
  padding: 0% 30px;
}

.create_manu{
  margin: 5px;
  padding: 0% 30px;
}

.new_book{
  margin: 0px;
}

.new_title{
  margin: 5px 0px;
}

.new_body{
  margin: 5px 0px;
}

.show_box{
  font-size: 10pt;
  margin: 40px;
}

.show_book{
  font-size: 10pt;
  display: flex;
  margin: 10px 10px;
}

.show_body{
  font-size: 10pt;
  display: flex;
  margin: 10px 10px;
}

.edit_box{
  font-size: 10pt;
  margin: 40px;
}