* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box{
  height: 700px;
  width: 200px;
  margin: 30px;
}

.title{
  height: 20px;
  margin: 30px;
}

.story{
  height: 10px;
  margin: 60px;
}

